

*{
    font-family:'poppins',sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    background-color: rgb(216, 210, 227); 
    width:100%;
    position:fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}  
.Logo{
    text-decoration: none;
    color: rgb(10, 7, 14);
    text-transform: uppercase;
    font-weight: 800;
}
.navigation a{
    color: rgb(10, 10, 14); 
    text-decoration: none;
    font-size: 1.1em;
    font-weight:600;
    padding-left: 30px;
}    
.navigation a:hover{
    color: rgb(42, 42, 171);
} 

section {
         padding:100px 200px;
            
}      

.main {
    width:100%;
    min-height:100vh;
    display:flex;
    align-items:center;
    background:url(images/web5.png)no-repeat;
    background-size:cover;
    background-position: center;

    display:inline-block;
    margin: top 6px;
    color:rgb(237, 232, 241);
    font-size: 2em;
    font-weight:400;
                    
}


